<!-- Tab panes -->
  <div class="tab-content">

  <!-- Tab panel for Detail -->
    <div role="tabpanel" class="tab-pane fade" id="detail">
      <div class="page-header">
        <h3>Detail <%= @fp.name %></h3>
      </div>
      <div class="media">
        <div class="media-left">
          <a href="<%= @fp.image? ? image_url(@fp.image_url) : image_url('no-image.jpg') %>" id="lightbox-<%= @fp.id %>">
            <%= @fp.image? ? image_tag(@fp.image_url(:thumb)) : image_tag("no-image.jpg") %>
          </a>
        </div>
        <div class="media-body">
          <%= nl2br(@fp.deskripsi) %>
        </div>
      </div>
      <div class="page-header">
        <h5>Jumlah Lapangan: <strong><%= @fp.jumlah_lapangan %></strong></h5>
      </div>
      
    </div>

    <!-- Tab panel for Jadwal -->
    <div role="tabpanel" class="tab-pane fade in" id="jadwal">
      <hr>
<% if @fp.prices.present? %>

  <% @fp.prices.each_with_index do |a, index| %>
  
  <div class="panel panel-default">
  <div class="panel-body">

    <div class="row">
      <div class="col-lg-5">
        <%= a.hari %>
      </div>
      <div class="col-lg-4">
        <i class="fa fa-clock-o"></i> <%= a.jam_mulai.strftime("%H:%M") %> - <%= a.jam_akhir.strftime("%H:%M") %> WIB
      </div>
      <div class="col-lg-3">
        Rp. <%= a.harga %> Per Jam
      </div>
    </div>

  </div>
</div>
  <% end %>

<% else %>
  <div class="alert alert-warning">Belum ada ketentuan harga</div>
<% end %>
    </div>

<!-- Tab panel for booking -->
  <div role="tabpanel" class="tab-pane fade in" id="booking"> 
      <div id="tanggalan" data-date="02/03/2016"></div>
      <input type="hidden" id="my_hidden_input" value="<%= @sethari %>"> 
      <br>
<span class="label label-default"><%= @hari == Time.now.strftime('%A, %d %B %Y') ? "Jadwal Booking Hari ini" : "Jadwal Booking Hari: "+l(@hari.to_date, :format => '%A, %d %B %Y') %></span>
  <% @fp.jumlah_lapangan.times do |i| %>

<div class="panel panel-default">
<div class="panel-body">

  <div class="row">
    <div class="col-lg-5">
      Lapangan <%= i+1 %>
    </div>
  </div>

</div>
<% if @lapangan.booking_lapangan(i+1, @fp.id, @sethari).present? %>
<% @lapangan.booking_lapangan(i+1, @fp.id, @sethari).each_with_index do |a, index| %>
      <div class="panel-heading">
        <%= a.jam_mulai.strftime("%H:%M") %> - <%= a.jam_akhir.strftime("%H:%M") %> WIB <span class="text-danger">Terpakai</span>
      </div>
    <% end %>
    <div class="alert alert-warning">Selain Jam Diatas, Anda dapat melakukan booking lapangan ini.<br>Untuk Melakukan Booking Silahkan Hubungi : <strong><%= @fp.phone %></strong>,<br>atau datang langsung ke <strong><%= @fp.name %></strong></div>
    <% else %>
      <div class="alert alert-success">Lapangan Bisa Dibooking</div>
    <% end %>
</div>
<% end %>
    </div>

    <!-- Tab panel for Kontak -->
    <div role="tabpanel" class="tab-pane fade in active" id="kontak">
      <div class="page-header">
        <h5>Alamat</h5>
      </div>
      <p class="text-center"><%= @fp.alamat %></p>
      <div class="page-header">
        <h5>Telephon</h5>
      </div>
      <p class="text-center"><i class="fa fa-phone"></i> <%= @fp.phone %></p>


      <div class="page-header">
        <h5>Email</h5>
      </div>
      <p class="text-center"><i class="fa fa-envelope"></i> <%= @fp.email %></p>
    </div>

      <!-- Tab panel for Testimoni -->
    <div role="tabpanel" class="tab-pane fade" id="testimoni">
      <hr>
        <% if @fp.testimonials.blank? %>
        <div class="alert alert-warning">Belum ada testimoni</div>
        <% else %>
        <% @fp.testimonials.each do |t| %>
          <div class="media">
            <div class="media-left">
              <a href="#">
              <%= gravatar_for(t) %>
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading"><%= t.name %></h4>
              <%= t.isi %>
            </div>
          </div>

        <% end %>
        <% end %>
        <hr>
        <center><button class="btn btn-default btn-testimoni"><i class="fa fa-plus-square"></i> Kirim Testimoni</button></center>

        <div id="form-testimoni" style="display: none;">
        <h4>Kirim Testimoni</h4>
          
          <%= form_for(:testimoni, url: testimoni_path(@fp.id), :html => {:class => "form-horizontal"}) do |f| %>

          <div class="form-group">
          <%= f.label :name, class: "col-sm-2 control-label" %>
          <div class="col-sm-10">
          <%= f.text_field :name, class: "form-control", placeholder: "Nama Anda", required: "" %>
          </div>
          </div>

          <div class="form-group">
          <%= f.label :email, class: "col-sm-2 control-label" %>
          <div class="col-sm-10">
          <%= f.email_field :email, class: "form-control", placeholder: "Email Anda", required: "" %>
          </div>
          </div>

          <div class="form-group">
          <%= f.label "Testimoni", class: "col-sm-2 control-label" %>
          <div class="col-sm-10">
          <%= f.text_area :isi, class: "form-control", placeholder: "Tulis Testimoni", required: "", cols: "30", rows: "10" %>
          </div>
          </div>


          <div class="form-group">
          <div class="col-sm-offset-2 col-sm-8">
          <%= f.submit "Kirim", class: "btn btn-danger" %>
          </div>
          </div>
          <% end %>
          </div>
          <hr>
    </div>


  </div>