<% provide(:title, @fp.name) %>

<%= render "header" %>
 <div class="container">
 
 <ol class="breadcrumb">
    <%= render_breadcrumbs :tag => :li, :separator => "" %>
  </ol>

 	<div class="page-header">
 		<h2><%= @fp.name %></h2>
 	</div>

	<div style='width: 100%; background: grey; padding: 3px;'>
		<div id="map" style='width: auto; height: 400px;'></div>
	</div>

	<div>
<hr>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs navbar-default" role="tablist">
    <li role="presentation" class="active"><a href="#detail" aria-controls="home" role="tab" data-toggle="tab">Detail Arena</a></li>
    <li role="presentation"><a href="#jadwal" aria-controls="profile" role="tab" data-toggle="tab">Jadwal</a></li>
    <li role="presentation"><a href="#booking" aria-controls="booking" role="tab" data-toggle="tab">Booking</a></li>
    <li role="presentation"><a href="#kontak" aria-controls="messages" role="tab" data-toggle="tab">Kontak</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="detail">
    	<div class="page-header">
    		<h3>Detail <%= @fp.name %></h3>
    	</div>
			<div class="media">
				<div class="media-left">
					<a href="<%= @fp.image? ? image_url(@fp.image_url) : image_url('no-image.jpg') %>" id="lightbox-<%= @fp.id %>">
						<%= @fp.image? ? image_tag(@fp.image_url(:thumb)) : image_tag("no-image.jpg") %>
					</a>
				</div>
				<div class="media-body">
					<%= nl2br(@fp.deskripsi).html_safe %>
				</div>
			</div>
    	<div class="page-header">
    		<h5>Jumlah Lapangan: <strong><%= @fp.jumlah_lapangan %></strong></h5>
    	</div>
    	
    </div>
    <div role="tabpanel" class="tab-pane fade in" id="jadwal">
    	<hr>
<% if @fp.prices.present? %>

  <% @fp.prices.each_with_index do |a, index| %>
  
    <div class="panel panel-default">
  <div class="panel-body">

    <div class="row">
    	<div class="col-lg-5">
    		<%= a.hari %>
    	</div>
    	<div class="col-lg-4">
    		<i class="fa fa-clock-o"></i> <%= a.jam_mulai.strftime("%H:%M") %> - <%= a.jam_akhir.strftime("%H:%M") %> WIB
    	</div>
    	<div class="col-lg-3">
    		Rp. <%= a.harga %> Per Jam
    	</div>
    </div>

  </div>
</div>
  <% end %>

<% else %>
	<div class="alert alert-warning">Belum ada ketentuan harga</div>
<% end %>
    </div>

    <div role="tabpanel" class="tab-pane fade in" id="booking">
      <div class="row">
        <div class="col-lg-4">
        <div id="tanggalan" data-date="02/03/2016"></div>
<input type="hidden" id="my_hidden_input" value="<%= @sethari %>">
      </div>
      <div class="col-lg-8">
      <br>
<span class="label label-default"><%= @hari %></span>
  <% @fp.jumlah_lapangan.times do |i| %>
  
    <div class="panel panel-default">
  <div class="panel-body">

    <div class="row">
      <div class="col-lg-5">

        Lapangan <%= i+1 %>
      </div>
    </div>

  </div>
  <% if @lapangan.booking_lapangan(i+1, @fp.id, @sethari).present? %>
  <% @lapangan.booking_lapangan(i+1, @fp.id, @sethari).each_with_index do |a, index| %>
          <div class="panel-heading"><%= a.jam_mulai.strftime("%H:%M") %> - <%= a.jam_akhir.strftime("%H:%M") %> WIB <span class="text-danger">Penuh</span></div>
        <% end %>
        <% else %>
        <div class="alert alert-success">Lapangan Bisa Dibooking</div>
        <% end %>
  
</div>
  <% end %>

      </div>
      </div>
      
    </div>

    <div role="tabpanel" class="tab-pane fade in" id="kontak">
    	<div class="page-header">
    		<h5>Alamat</h5>
    	</div>
    	<p class="text-center"><%= @fp.alamat %></p>
    	<div class="page-header">
    		<h5>Telephon</h5>
    	</div>
    	<p class="text-center"><i class="fa fa-phone"></i> <%= @fp.phone %></p>


    	<div class="page-header">
    		<h5>Email</h5>
    	</div>
    	<p class="text-center"><i class="fa fa-envelope"></i> <%= @fp.email %></p>
    </div>
  </div>

</div>

<%= render "footer" %>
	<script>
		

			handler = Gmaps.build('Google');
			handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){

			markers = handler.addMarkers([
			{
			"lat": <%= @fp.latitude %>,
			"lng": <%= @fp.longitude %>,
			"picture": {
			"url": "http://androgan.com/ico/football.png",
			"width":  32,
			"height": 32
			},
			"infowindow": "<%= @fp.name %>"
			}
			]);
			handler.bounds.extendWith(markers);
			handler.fitMapToBounds();
			handler.getMap().setZoom(16);

			});
			$('#lightbox-<%= @fp.id %>').click(function(e){
				 e.preventDefault();
				$(this).ekkoLightbox();	
			});
			$('#lightbox-gallery-<%= @fp.id %>').click(function(e){
				 e.preventDefault();
				$(this).ekkoLightbox({
					gallery: "galleryname"
				});	
			});

      var date = new Date();
      date.setDate(date.getDate());
      $('#tanggalan').datepicker({
        
        todayHighlight: true,
        startDate: date,
        format: "mm-dd-yyyy"
      });
      $('#tanggalan').on("changeDate", function() {
        tanggal = $('#tanggalan').datepicker('getDate');
        // Turbolinks.visit("<%= showarena_url(@fp.id, (@fp.name).gsub(' ', '-').downcase) %>"+"#booking");
        var tanggal = $('#tanggalan').datepicker('getDate');
        var day = tanggal.getDate();
        var month = tanggal.getMonth()+1;
        var year = tanggal.getFullYear();
        var full = year+"-"+month+"-"+day; 
        Turbolinks.visit("<%= showarena_url(@fp.id, (@fp.name).gsub(' ', '-').downcase) %>"+"?hari="+full+"#booking");
      $('#my_hidden_input').val(
        $('#tanggalan').datepicker('getFormattedDate')

      );
      });



	</script>
 </div>