<% provide(:title, @fp.name) %>

<%= render "header" %>
 <div class="container">
 
 <ol class="breadcrumb">
    <%= render_breadcrumbs :tag => :li, :separator => "" %>
  </ol>
<div class="row">
<div class="page-header">
 		<h2><%= @fp.name %></h2>
		</div>
	<div class="col-lg-6">
		

	<div style='width: 100%; background: grey; padding: 3px;'>
		<div id="map" style='width: auto; height: 400px;'></div>
	</div>
	
    		<h3>Detail <%= @fp.name %></h3>
   
		<div class="media-body">
					<%= nl2br(@fp.deskripsi).html_safe %>
				</div>
	</div>
	<div class="col-lg-6" style="background: white">
		<%= render "tabcontent" %>
	</div>
</div>

<%= render "footer" %>

 </div>