<%= form_for([:dashboard, @fp], :html => {:class => "form-horizontal"}) do |f| %>

	<div class="form-group">
		<%= f.label :name, class: "col-sm-2 control-label" %>
		<div class="col-sm-6">
			<%= f.text_field :name, class: "form-control", placeholder: "Nama Arena" %>
		</div>
	</div>

	<div class="form-group">
		<%= f.label "Deskripsi Singkat", class: "col-sm-2 control-label" %>
		<div class="col-sm-6">
			<%= f.text_area :deskripsi, class: "form-control", placeholder: "Tulis Deskripsi" %>
		</div>
	</div>

	<div class="form-group">
		<%= f.label :alamat, class: "col-sm-2 control-label" %>
		<div class="col-sm-6">
			<%= f.text_area :alamat, class: "form-control", placeholder: "Alamat" %>
		</div>
	</div>

	<div class="form-group">
		<%= f.label :jumlah_lapangan, class: "col-sm-2 control-label" %>
		<div class="col-sm-3">
			<%= 
			f.select :jumlah_lapangan, options_for_select((1..20).map {|d| [d, d]}, :selected => @fp.jumlah_lapangan), {}, {:class => "form-control"}
			%>
		</div>
	</div>

	

	<div class="form-group">
		<%= f.label :kecamatan, class: "col-sm-2 control-label" %>
		<div class="col-sm-4">
			<%= f.text_field :kecamatan, class: "form-control", placeholder: "Kecamatan" %>
		</div>
	</div>

	<div class="form-group">
		<%= f.label :longitude, class: "col-sm-2 control-label" %>
		<div class="col-sm-6">
			<%= f.text_field :longitude, class: "form-control", placeholder: "Longitude" %>
		</div>
	</div>

	<div class="form-group">
		<%= f.label :latitude, class: "col-sm-2 control-label" %>
		<div class="col-sm-6">
			<%= f.text_field :latitude, class: "form-control", placeholder: "Latitude" %>
		</div>
	</div>



	<div class="form-group">
		<%= f.label :email, class: "col-sm-2 control-label" %>
		<div class="col-sm-4">
			<%= f.text_field :email, class: "form-control", placeholder: "Email Address" %>
		</div>
	</div>

	<div class="form-group">
		<%= f.label :phone, class: "col-sm-2 control-label" %>
		<div class="col-sm-4">
			<%= f.text_field :phone, class: "form-control", placeholder: "Phone Number" %>
		</div>
	</div>

	<div class="form-group">
		<%= f.label :image, class: "col-sm-2 control-label" %>
		<div class="col-sm-5">
			<%= f.file_field :image, class: "form-control" %>
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-8">
		  <%= f.submit "Simpan Sekarang", class: "btn btn-lg btn-danger" %>
		</div>
	</div>
<% end %>