<div class="list-group list-group-root">

	<%= link_to "#", class: "list-group-item disabled" do %>
		<i class="fa fa-thumb-tack fa-fw"></i> Konten
	<% end %>
		<div class="list-group">
			<%= link_to dashboard_admin_futsal_place_path(session[:futsal_place_id]), class: "list-group-item" do %>
				<i class="fa fa-eye fa-fw"></i> Detail Konten
			<% end %>
			<%= link_to edit_dashboard_admin_futsal_place_path(session[:futsal_place_id]), class: "list-group-item" do %>
				<i class="fa fa-bars fa-fw"></i> Edit Konten
			<% end %>
			<%= link_to new_dashboard_admin_price_path, class: "list-group-item" do %>
				<i class="fa fa-plus-square fa-fw"></i> Edit Jadwal
			<% end %>
		</div>

	<%= link_to "#", class: "list-group-item disabled" do %>
		<i class="fa fa-thumb-tack fa-fw"></i> Testimoni
	<% end %>
		<div class="list-group">
		<%= link_to "#", class: "list-group-item" do %>
			<i class="fa fa-male fa-fw"></i> Lihat Testimoni
		<% end %>
		</div>

	<%= link_to "#", class: "list-group-item disabled" do %>
		<i class="fa fa-thumb-tack fa-fw"></i> Settings
	<% end %>
		<div class="list-group">
		<%= link_to account_path, class: "list-group-item" do %>
			<i class="fa fa-user fa-fw"></i> Account Setting
		<% end %>
		</div>

</div>