<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> | YukFutsal</title>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= dashboard? ? "dashboard" : "home" %>">
<% if dashboard? %>
	<div class="container">
	<%= render 'layouts/top' %>
	<div class="row">
		<div class="col-md-3">
			<%= render 'layouts/left' %>
		</div>
		<div class="col-md-9">
			<%= yield %>
		</div>
	</div>
	
	</div>
<% else %>
	<%= yield %>
<div class="scroll-top-wrapper ">
	<span class="scroll-top-inner">
		<i class="fa fa-2x fa-arrow-circle-up"></i>
	</span>
</div>
<% end %>

</body>
</html>
